body{
    margin: 0px;
    
}
.main{
    box-sizing: border-box;
    background-color: #e9f1f7;
}
.title{
    margin: auto;
    width: 200px;
    text-align: center;

}
.container{
    
    height: 900px;
    padding: 5%;

}
.outer-container{

    margin-top: 5%;
}
.outer{
    width: 40%;
}
.label{
   display: inline-block;
   width: 20%;
}

.value{
   display: inline-block;
    margin-left: 10%;
    border-radius: 5px;
    border: 1px solid #003748;
    padding: 3px;
    font-size: 18px;
    text-align: center;
    width: 130px;
    color: #003748;
}
.box-btn{
    background-color: #008db1;
    text-decoration: none;
    display: inline-block;
    color: white;
    border-radius: 30px;
    padding: 8px;
    display: flex;
    align-items: center;
}
.box{

    display: inline-block;
    width: 130px;
    margin: 30px;
}
.box img{
    
    width: 40px;
}
.expense-img{
    transform: scaleY(-1);
}
.box-container{
   display: flex;
   justify-content: center;
   margin-top: 10%;
}
#expense-btn{
    background-color: red;
}
.row-line{
    width: 50%;
    float: left;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 20%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding:  8px;
    background-color:#003748 ;
    color: white;
    text-align: center;
  }
  
  .modal-body {
      padding: 16px;
        display: flex;
}
  
  .modal-footer {
    padding: 16px;
    background-color: white;
    color: white;
    display: flex;
  }
  .modal-header h2{
      margin: 0px;

  }
  .modal-box{
      width: 50%;
      display: inline-block;
      text-align: center;
  }
  .btn{
      background-color: #008db1;
      padding: 12px 20px;
      color: white;
      text-decoration: none;
        border-radius: 20px;
        margin: 0px auto;
        display: inline-block;
  }
  .modal-box-label{
    text-align: center;
    display: inline-block;
  }